@model AircraftStore.Dal.Models.Aircraft

@{
    ViewBag.Title = "Aircraft - " + Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.Name
                <small>@Model.Manufacturer.Name</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Store", "Browse", "Store", new {Id = Model.TypeId}, null)
                </li>
                <li class="active">@Model.Name</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img style="height: 500px; width: 750px" class="img-responsive" src="@Model.PhotoUrl" alt="Outside">
                    </div>
                    <div class="item">
                        <img style="height: 500px; width: 750px" class="img-responsive" src="@Model.CockpitPhotoUrl" alt="Cockpit">
                    </div>
                    <div class="item">
                        <img style="height: 500px; width: 750px" class="img-responsive" src="@Model.CabinPhotoUrl" alt="Cabin">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h3>$ @Model.Price million </h3><a href="@Url.Action("AddToCart", "ShoppingCart",  new { id = @Model.Id }, "")" class="btn btn-primary">Add to Cart <i class="fa fa-angle-right"></i></a>
            <h3>Aircraft Description</h3>
            <p>@Model.Description</p>
            <h3>Aircraft Details</h3>
            <ul>
                <li><i>Country of Origin:</i> @Model.CountryOfOrigin</li>
                <li><i>Passengers:</i> @Model.Pax</li>
                <li><i>Engines:</i> @Model.Engines</li>
                <li><i>Range:</i> @Model.Range nm</li>                
            </ul>
        </div>
    </div>
   
</div>